@import "sizes";
@import "skins";

@mixin input-password($size: $g-input-password-default-size, $skin: $g-input-password-default-skin){
	@include input-password-size($size);
	@include input-password-skin($skin);
}

input[type="password"]{
	display: inline-block;
	border: 1px solid transparent;
	line-height: normal;
	width: 100%;
	
	@include input-password;
}