@import "sizes";
@import "skins";

@mixin input-text($size: $g-input-text-default-size, $skin: $g-input-text-default-skin){
	@include input-text-size($size);
	@include input-text-skin($skin);
}

input[type="text"]{
	display: inline-block;
	border: 1px solid transparent;
	line-height: normal;
	width: 100%;
	
	@include input-text;
}