$g-input-text-default-size: 'normal' !default;

@mixin input-text-size($size){
	$sizes: map-get($g-input-text-sizes, $size);
	
	@each $property, $value in $sizes {
		#{$property} : $value;
	}
}

$g-input-text-sizes: (
	'small': (
		padding: rem(5px 10px),
		font-size: rem(12px)
	),

	'normal': (
		padding: rem(9px 15px),
		font-size: rem(14px)
	)
) !default;