$g-type-skins: (
	body: (
		font-family: 'Arial',
		color: #666
	),

	h1: (
		font-family: 'Arial',
		font-weight: bold
	),

	h2: (
		font-family: 'Georgia',
		font-style: oblique
	)
) !default;